<div class="content-container">
  <div class="sticky top-0 bg-white pb-3 w-full">
    <p class="py-3 text-3xl font-bold">Daily Drafts</p>
  </div>
  <div
    class="w-full py-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-10 justify-items-start"
  >
    @for (outline of outlines; track $index) {
    <app-outline-card
      class="w-full col-start-1"
      [outline]="outline"
    ></app-outline-card>
    <app-draft-card
      class="w-full"
      *ngFor="let draft of getByParentId(outline._id!)"
      [draft]="draft"
    ></app-draft-card>
    <app-add class="w-full"></app-add>
    }
  </div>
</div>
