<div class="content-container">
  <div class="sticky top-0 pb-3 w-full bg-white">
    <p class="py-3 text-3xl font-bold">2024 Inspiration</p>
  </div>
  <div class="flex flex-wrap">
    <app-pill
      class="mr-2 mb-2"
      *ngFor="let filter of filters"
      [label]="filter"
      (changeActive)="onPillChange($event)"
    ></app-pill>
  </div>
  <div
    class="w-full py-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-10 justify-items-start"
  >
    <app-inspiration-card
      class="w-full"
      *ngFor="let inspo of inspos()"
      [inspiration]="inspo"
    ></app-inspiration-card>
  </div>
</div>
