@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: transparent;
  height: 100%;
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-secondary hover:bg-brand dark:bg-gray-800 
  text-black hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer hover:shadow-lg;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }

  .content-container {
    @apply h-full w-[calc(100vw-4rem)] ml-16 p-6 flex flex-col justify-start;
  }

  .modal-backdrop {
    @apply fixed h-screen w-screen top-0 bottom-0 right-0 left-0 z-10 flex justify-center items-center bg-black bg-opacity-40;
  }
}
